### IntelliJ IDEA ###
# Игнорируем папку с настройками IntelliJ IDEA
.idea/

# Игнорируем скомпилированные файлы
out/

# Игнорируем проектные файлы IntelliJ IDEA
*.iml
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store